In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
my_data = pd.DataFrame({'type':['A', 'A',' B', 'B'], 'value':[10, 14, 12, 23]})

In [3]:
my_stat = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat.csv')

In [5]:
my_stat.head()

   V1    V2 V3   V4
0   2  13.0  B  1.0
1  -1   7.0  B  1.0
2   0  11.0  A  0.0
3   2  11.0  A  2.0
4   0  10.0  B -1.0

In [12]:
subset_1 = my_stat.iloc[:10, [0, 2]]
subset_2 = my_stat.iloc[:, [1, 3]].drop([0, 4])

In [19]:
subset_1 = my_stat.query('V1 > 0 & V3 == "A"')
subset_2 = my_stat.query('V2 != 10 | V4 >= 1')

In [5]:
my_stat = my_stat.assign(V5 = my_stat.V1+my_stat.V4, V6 = np.log(my_stat.V2))

   V1    V2 V3   V4   V5        V6
0   2  13.0  B  1.0  3.0  2.564949
1  -1   7.0  B  1.0  0.0  1.945910
2   0  11.0  A  0.0  0.0  2.397895
3   2  11.0  A  2.0  4.0  2.397895
4   0  10.0  B -1.0 -1.0  2.302585

In [6]:
names = {
    'V1': 'session_value',
    'V2': 'group',
    'V3': 'time',
    'V4': 'n_users'
}

my_stat.rename(index=str, columns=names, inplace=True)
my_stat.head()

   session_value  group time  n_users   V5        V6
0              2   13.0    B      1.0  3.0  2.564949
1             -1    7.0    B      1.0  0.0  1.945910
2              0   11.0    A      0.0  0.0  2.397895
3              2   11.0    A      2.0  4.0  2.397895
4              0   10.0    B     -1.0 -1.0  2.302585

In [59]:
my_stat = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat_na.csv')

In [65]:
my_stat = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat_na.csv')

my_stat.fillna({'session_value': 0}, inplace=True)

median = my_stat.loc[my_stat['n_users'] >= 0]['n_users'].median()

my_stat.loc[my_stat['n_users'] < 0, 'n_users'] = median

In [73]:
mean_session_value_data = my_stat.groupby('group', as_index = False)['session_value'].mean()
mean_session_value_data.rename(index=str, columns = {'session_value': 'mean_session_value'})

   group  mean_session_value
0    7.0            0.000000
1    8.0           -0.294118
2    9.0            0.151786
3   10.0           -0.047368
4   11.0            0.112000
5   12.0           -0.382353
6   13.0            0.000000